.header-bg
{
    background-image: url(../assets/images/header-images/mobile-application.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#footer .footer-top
{
    background: transparent;
}
ul li a
{
    color: #000 !important;
}
.about-content
{
    border: 4px solid #13b7e4;
    padding: 20px;
    border-radius: 30px 0px;
    background: aliceblue;
    height: 450px;
}
.about-content h2,.about-content p
{
    color:#000
}
.lnk:hover span.circle-content
{
    top:-10%;
    right:-220px;
    transition: .7s;
}
span.circle-content
{
    transition: .3s;
    background:rgb(19 183 228);
    display:block;
    position:absolute;
    top:-110%;
    right:70%;
    width:1000px;
    height:600px;
    border-radius: 30%;
    z-index: -99999;
}

.site-wrap
{
    background-color: #fff;
}
.m-5
{
    margin: 1rem 3rem 3rem 3rem !important;
}
.about-animate
{
    position: absolute;
}
.about-animate ul li 
{
    position: relative;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 1;
    width: 0; 
    height: 0; 
}
#shape-one
{
    border-left: 23px solid transparent;
    border-right: 7px solid transparent;
    border-top: 17px solid #4dc9eb;
}
#shape-two
{
    border-left: -1px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #189cc1;
}
.about-animate li:nth-child(1) {
    top: 10vh;
    left: 32vw;
}
.about-animate li:nth-child(2) {
    top: 0vh;
    left: 51vw;
}
.about-animate li:nth-child(1),.about-animate li:nth-child(2)
{
    animation: movement 2s infinite  alternate;
}
@keyframes movement {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.about-animate li:nth-child(1) {
    animation: movement 1s infinite  alternate;
}
.about-animate li:nth-child(2) {
    animation: movement 1.5s infinite  alternate;
}
/* FOR RESPONSIVE VIEW */
@media screen and (max-width: 780px)   {
.m-5
{
    margin: 0rem 0rem 0rem 0rem !important;
}
.about-animate
{
    display: none;
}
.about-content
{
    margin: 10px;
}
}
